@import "tailwindcss";

@theme {
  --color-bg: #393838;
  --color-sidebar: #2a2929;
  --color-card: #282828;
  --color-player: #181818;
  --color-accent-teal: #3dd6c8;
  --color-accent-pink: #eb41df;
  --color-text: #ffffff;
  --color-text-muted: #b3b3b3;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
}
